@import '../../mixins';


.projects-container {
    position: relative;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;

    .box-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;

        .projects {
            // border: 1px solid #E2A176;
            height: 450px;
            border-radius: 30px 30px 0 0;
            overflow: hidden;
            box-shadow: 0px 5px 8px 3px #934f1e80;
            transition: transform 300ms ease-in-out;
            &:hover {
                transform: scale(1.02);
            }

            .project-image {
                background-image: url('../../assests/easy-landing-page.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 50%;
                width: 100%;

                &.two {
                    background-image: url('../../assests/rolodex.png');
                }

                &.three {
                    background-image: url('../../assests/yanle-clothing.png');
                }

                &.four {
                    background-image: url('../../assests/my-portfolio.png');
                }
                
            }

            .project-details {
                height: 155px;
                padding: 0px 18px;
            }

            .project-tools {
                margin: 0 100px;
                display: flex;
                justify-content: space-around;

                @include breakpoint-down(medium) {
                    margin: 0 50px; 
                }

                .tools {
                    font-weight: 400;
                    font-size: 13px;
                    padding: 4px;
                    border-radius: 10px;
                    background-color: #934F1E;
                    
                }
            }

            .project-description {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 300;

            }

            .btn-container {
                display: flex;
                justify-content: space-around;

                .resume {
                    // margin-top: 1.25rem;
                    color: whitesmoke;
                    background-color: #341E0F;
                   border-radius: 7px;
                    padding: 0.725rem;
                    border: 1px solid #E2A176;
                    font-size: 0.95rem;
                    letter-spacing: 1px;
                    cursor: pointer;
                    transition: all 150ms ease-in-out;
            
                    &:hover {
                        background-color: #934F1E;
                    }
                    &:focus {
                        transform: scale(0.98);
                    }
                    
                }
            }


        }

        .links {
            margin-top: 1.25rem;
            width: 15.375rem;
            display: flex;
            // font-size: 12px;
            letter-spacing: 0.1125rem;

            &:hover {
                text-decoration: underline;
                color: #E2A176;
            }
            svg {
                margin-top: 0.3375rem; 
            }
            svg path {
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path {
              fill: #E2A176;  
            }
        }
    }

    @include breakpoint-down(medium) {
        margin: 0 2.2rem;
        padding: 3.125rem 0;

    }
}